.wrapper {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding: 10px 0;
}

.wrapper_item {
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
}

.wrapper_item:hover {
    transition-duration: 500ms;
    text-shadow: 1px 1px 2px black;
}