.form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.formItem {
    margin-right: 10px;
    padding-left: 10px;
    border-radius: 4px;
}

.btn {
    cursor: pointer;
    border-radius: 4px;
    padding: 0 5px;
    background: cadetblue;
    color: cornsilk;
}

.btn:hover {
    transition-duration: 0.5s;
    background: cornsilk;
    color: cadetblue;
}

.productWrapper {
    float: left;
    margin-right: 40px;
}
